* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ms-number-container,
.ms-player-number-container{
  width: 3.75rem;
  height: 3.75rem;
  background-color: #f3f2f2;
  line-height:3.75rem ;
}

.ms-timer-container{
  height: 50px;
}

